body {
	background-color: #333333;
	font-family: 'productSansRegular';
	color: white;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;
	min-width: 800px;
}
#header {
	display: inline-block;
	margin-left: 0px;
}
h1 {
	font-family: 'productSansBold';
	font-size: 42px;
	margin-bottom: -10px;
}
h2 {
	font-family: 'productSansBold';
	font-size: 28px;
}
h3 {
	font-family: 'productSansBold';
	margin-top: 0px;
	font-size: 21px;
	display: inline-block;
	width: 164px
}
#header p {
	font-size: 18px;
}
#links img {
	display: inline-block;
	height: 25px;
	width: 25px;
	transition-duration: 200ms;
	margin-right: 15px;
}
#links img:hover {
	cursor: pointer;
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
	transition-duration: 200ms;
}
.box {
	padding-left: 26px;
	border-radius: 8px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 200ms;
}
.box:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	transition-duration: 200ms;
}
.box p {
	display: inline-block;
	font-size: 21px;
	margin-top: 10px;
	margin-bottom: 14px;
}
#medz {
	background-color: #E9F0FD;
	color: #6A99E8;
}
/* #medz .description {
	padding-left: 100px;
} */
#feast {
	background-color: #F9E9E6;
	color: #C94638;
}
/* #feast .description {
	padding-left: 52px;
} */
#rally {
	background-color: #E8F3EB;
	color: #64A36B;
}
/* #rally .description {
	padding-left: 71px;
} */
#palette {
	background-color: #FCEFC8;
	color: #505150;
}
/* #palette .description {
	padding-left: 50px;
} */
.description {
	display: inline-block;
	opacity: 0.7;
}
.description p {
	display: block;
}
@font-face {
	font-family: productSansRegular;
	src: url(productSansRegular.ttf);
}
@font-face {
	font-family: productSansBold;
	src: url(productSansBold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: productSansItalic;
	src: url(productSansItalic.ttf);
	font-weight: italic;
}